.Footer{
    background-color: rgb(220,220,220);
    padding: 1em 0;
    
    border-top: 3px solid transparent;
    border-image: linear-gradient(90deg, rgba(132,1,107,1) 50%, rgba(0,0,0,1) 100%);
    border-image-slice: 1;
    width:100%;
}

.Footer > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redes{
    display: flex;
    align-items: center;
    font-size: 3em;
}

.redes svg{
    margin-left: 0.2em;
    cursor: pointer;
}

.redes svg:hover{
    color: #84016B;
}